.register {
  .header {
    padding: 12px;
    height: 28px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    flex: 1;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }
  .basicForm {
    background-color: #fff;
    margin: 12px;
    padding: 12px;
    border-radius: 4px;
  }
  .goLogin {
    margin-right: 24px;
    color: #1677ff;
  }
}