.otherDetail {
  height: 100vh;
  .header {
    padding: 12px;
    height: 28px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    flex: 1;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }
  .orderForm {
    margin: 12px;
    padding: 12px;
    background-color: #fff;
  }
  .help {
    font-size: 12px;
    color: #bbbbbb;
  }
  .btn {
    margin-right: 8px;
  }
}